* {
    padding: 0;
    margin: 0;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
.aboutMe
    {
        color: white; 
    }
.title
    {
        font-size: 60px;
        display: flex;
        justify-content: center;
        margin-top: 400px;
    }
.aboutText
    {
        margin-top: 20px;
    }
.symbolOne
    {
        font-size: xxx-large;
        margin-left: 140px;
        color: paleturquoise; 
    }
.symbolTwo
    {
        display: flex;
        margin-top: -10px;
        font-size: xxx-large;
        margin-left: 1220px;
        color: paleturquoise; 
    }
.symbolThree
    {
        font-size: xxx-large;
        margin-left: 1032px;
        color: paleturquoise; 
    }
.symbolFour
    {
        display: flex;
        margin-top: -55px;
        font-size: xxx-large;
        margin-left: 140px;
        color: paleturquoise; 
    }

.aboutLine
    {
        font-weight: bold;
        margin-top: -10px;
        font-size: normal;
        justify-content: center;
        display: flex;
        font-weight: normal;
    }
.realText
    {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        color:white;
        margin-top: -16px;
        margin-left: 200px;
        margin-right: 230px;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
.devSection
    {
        color: paleturquoise;
        display: flex;
        margin-left: 160px;
        margin-top: 100px;
        margin-bottom: 40px;
        text-shadow: 100;
        font-size: 37px;
        font-weight: bolder;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
.Python
    {
        display: flex;
        margin-top: 15px;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: #ffffff;
        padding: 4px;
        overflow: hidden;
        margin-left: 80px;  
    }
.Python img
    {
        margin-left: -23px;
        margin-top: -22px;
        height: 150%;
        object-fit: cover;
        object-position: center;
    }
.Python:hover
    {
        background-color: paleturquoise;
        transform: scale(1.2);
    }
.CPlusPlus
{ 
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: #ffffff;
    padding: 4px;
    margin-left: 200px;
    margin-top: -100px;
    margin-bottom: 100px;
    display: flex;
}
.CPlusPlus:hover
    {
       background-color: paleturquoise;
       transform: scale(1.2);
    }
.Git
    {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: #ffffff;
        overflow: hidden;
        display: flex;
        margin-left:320px;
        margin-top: -200px;
        margin-bottom: 150px;
    }
.Git img
    {
        width: 90%;
        height: 90%;
        margin-top: 4px;
        margin-left: 4.8px;
    }
.Git:hover
    {
        background-color: paleturquoise;
        transform: scale(1.2);
    }
.React
    {
        display: flex;
        margin-left: 440px;
        margin-top: -250px;
        margin-bottom: 200px;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: #ffffff;
        padding: 4px;
    }
.React:hover 
    {
        background-color: paleturquoise;
        transform: scale(1.2);
    }
.CSS
    {
        margin-left: 135px;
        margin-top: -180px;
        margin-bottom: 100px;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: #ffffff;
        overflow: hidden;
    }
.CSS:hover 
    {
        background-color: paleturquoise;
        transform: scale(1.2);
    }
.CSS img 
    {
        overflow: hidden;
        width: 90%;
        height: 90%;
        margin-top: 9px;
        margin-left: 5px;
    }
.JS
    {
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: #ffffff;
        padding: 0px;
        margin-left: 260px;
        margin-top: -200px;
    }
.JS img
    {
        overflow: hidden;
        width: 90%;
        height: 90%;
        margin-top: 7.5px;
        margin-left: 5px;
    }
.JS:hover   
    {
        background-color: paleturquoise;
        transform: scale(1.2);
    }
.HTML
    {
        margin-left: 385px;
        margin-top: -100px;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        background-color: #ffffff;
        padding: 4px;
    }
.HTML img 
    {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
.HTML:hover
    {
        background-color: paleturquoise;
        transform: scale(1.2);
    }
.socialSection
    {
        color: paleturquoise;
        display: flex;
        margin-left: 1000px;
        margin-top: -300px;
        text-shadow: 100;
        font-size: 37px;
        font-weight: bolder;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }
.gitText
    {
        display: inline-block;
    }
.gitImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 60%;
}
.gitImg img
    {
        display: flex;
        width: 105%;
        height: 105%;
        margin-top: -1px;
        margin-left: -1px;
    }
.gitButton {
    display: flex;
    margin-left: 997px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    border: 3px solid paleturquoise;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    transition: transform 2s ease; 
}
.gitButton:hover
    {
        transform: scale(1.2);
        transition: transform 2s ease; 
    }
.LinkedText
    {
        display: inline-block;
    }
.LIImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 60%;
}
.LIImg img
    {
        display: flex;
        width: 105%;
        height: 105%;
        margin-top: -1px;
        margin-left: -1px;
    }
.LIButton {
    display: flex;
    margin-left: 997px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #0077B5;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: 3px solid paleturquoise;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    transition: transform 2s ease; 
}
.LIButton:hover
    {
        transform: scale(1.2);
        transition: transform 2s ease; 
    }
    .LinkedText
    {
        display: inline-block;
    }
.ResumeImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
    border-radius: 60%;
}
.ResumeImg img
    {
        display: flex;
        width: 110%;
        height: 110%;
        margin-top: px;
        margin-left: -3px;
    }
.ResumeButton {
    display: flex;
    margin-left: 997px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 22px;
    border: 3px solid paleturquoise;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    transition: transform 2s ease; 
}
.ResumeButton:hover
    {
        transform: scale(1.2);
        transition: transform 2s ease; 
    }