* {
padding: 0;
margin: 0;
background: transparent;
text-decoration: none;
box-sizing: border-box;
font-family: 'Helvetica', 'Arial', sans-serif;
}

.imageOne {
margin-top: 100px;
margin-left: 100px;
width: 400px;
height: 400px;
}

.text
{
    color:white;
    font-size: xxx-large;
    margin-left: 650px;
    padding: 0px;
    align-items: right;
    margin-top: -300px;
    font-weight: bolder;

}
.staticText
{
    font-size: xx-large;
    margin-left: 650px;
    padding: 0px;
    margin-top: 10px;
    align-items: right;
    font-weight: normal;
}
.line
{
    font-size: normal;
    margin-left: 650px;
    padding: 0px;
    margin-top: 10px;
    align-items: right;
    font-weight: normal;
}
.intro
{
    color:white;
}
.name
    {
        color: paleturquoise;
    }
.typeWriter
{
    font-size: 40px;
    margin-left: 650px;
    margin-top: 25px;
    padding: 0px;
    align-items: right;
    font-weight: bold;
    color: white;
}
.cursor
    {
        color: paleturquoise;
        animation: inAndOut 1s linear infinite;
    }
@keyframes inAndOut
    {
        0% {
                opacity: 100%
        }
        50%
            {
                opacity: 0%
            }
    }