* {
    padding: 0;
    margin: 0;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}
.menuItem {
    cursor: pointer;
    margin-right: 20px; 
    font-size: large;
    transition: color 0.25s ease; 
}
.menuItem:hover
    {
        color: rgb(235, 235, 235);
    }
.menuItemName {
    cursor: default;
    margin-right: 960px;
    font-size: x-large;
    transition: color 0.25s ease; 
    margin-left: 25px; 
}
.menuItemName:hover
    {
        color: rgb(189, 189, 192);
    }

.NavigationBar {
    width: 100%;
    height: 50px;
    background-color: rgb(13, 13, 13);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    z-index: 1000;
    
}